spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/learning-portal
    username: postgres
    password: ${DB_PASSWORD:password}
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.learningportal: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
